---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class={`w-full max-w-3xl mx-auto ${noPadding ? "px-0" : "px-4"}`}>
  <hr class="border border-skin-accent" aria-hidden={ariaHidden} />
</div>
