<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="layout-reverse">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10927957; 
var sc_invisible=1; 
var sc_security="2f01d73e"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/10927957/0/2f01d73e/1/" alt="web
analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

  </body>
</html>
